  <aside class="bg-dark">
      <div class="container">
          <div class="call-to-action">
              <h2 class="text-center">هل تودون المساهمة في دعم جمعيتنا؟</h2>
              <p class="text-center arabic-text">يُرجى تقديم دعمكم المحترم عبر التبرع إلى حسابنا المصرفي.</p>
              <ul class="list-unstyled account-list" style="text-align: center;">
                <li>
                    <p id="account" style="display: contents;">SONNAA AL BASSMA</p>
                    <button type="button" class="btn btn-primary" onclick="copyContent('account')">
                        <i class="fa fa-copy"></i> Copy
                    </button>
                </li>
                <li>
                    <p id="number" style="display: contents;">230 480 3968433221009100 26</p>
                    <button type="button" class="btn btn-primary" onclick="copyContent('number')">
                        <i class="fa fa-copy"></i> Copy
                    </button>
                </li>
              </ul>
          </div>
      </div>
  </aside>
