<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center arabic-text">
                <h2 class="section-heading">تقديم الجمعية</h2>
                <hr class="light">
                <p>تأسست في نهاية عام 2017 في مكناس، "صناع البسمة" هي جمعية غير ربحية، أسسها مجموعة من الشبان المكناسيين، متحمسين ومشغوفين بالعمل التطوعي والعمل التطوعي.</p>
                
                <h2 class="section-heading">الرؤية</h2>
                <hr class="light">
                <p>تتمثل رؤيتنا في رؤية الابتسامة على وجوه الجميع (النساء، الرجال، الأطفال، الشباب والشيوخ... )، في كل مكان وفي كل وقت!</p>
                
                <h2 class="section-heading">المهمة</h2>
                <hr class="light">
                <p>تستهدف أفعالنا السكان الذين يعيشون في ظروف صعبة في مكناس ومحيطها. مساعدة الأشخاص في وضع غير ميسور هي أكثر من مجرد مساعدة مؤقتة، إنها لفتة تضامن مسؤولة...</p>
                
                <h2 class="section-heading">محاور الأنشطة</h2>
                <hr class="light">
                <ul>
                    <li><b>التضامن</b>: زيارة دور الأيتام، دور المسنين، المستشفيات....</li>
                    <li><b>البيئة</b>: تزيين وتنظيف الأحياء، إعادة تهيئة مدرسة....</li>
                    <li><b>ريادة الأعمال الاجتماعية</b>: إنشاء وإدارة مشاريع مربحة ومنفعة للأشخاص الذين يحتاجون إلى المساعدة...</li>
                </ul>
            </div>
        </div>
    </div>
</section>
