<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid0348vdYQ6Lno4S7W3ggTB5xWFRCWwVc4xgJLzH2PXQGdfaEcty7iMzVWdbjRrNmozRl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/01-dif2-jami3-2018.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                دفئ للجميع
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/watch/?v=206881833238126" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/02-journée-femme-2018.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                اليوم العالمي للمرأة
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid0R1jrCazrehceTsygstaAZDRBorDknixCdt26fSkzBKG4XVBKJwW2Yrfmb89gmQCtl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/03-hannae-2018.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                حفل حناء لفائدة دار الأطفال
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid0HLGhjuS9pz75nMS8oiioPEnKYGBGz2ogWXxLavQGyzVTt6kEVknFkjLoWDtf4JRGl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/04-dar-hayat-2018.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                إفطار جماعي لفائدة نزلاء "دار الحياة-مكناس"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/photos/a.298629617396680/298630237396618/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/05-rentrée-scolaire-2018.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                يوم تحسيسي بمناسبة الدخول المدرسي لفائدة تلاميذ مؤسسة أبي قاسم الزياني
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/photos/a.342156579710650/342157929710515/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/06-caravane-humanitaire-2018.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                قافلة إنسانية
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid02dqMHgZjEKtunv2adSYtQu7cDC8Kg7KPgjcMMc2PpcjQdDkMSjrRTAKJvsyiBBTTrl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/07-première-année-2019.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                حفل تخليد الذكرى الأولى لتأسيس الجمعية
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid05o99JAB1i21AdnKyCCxArKzgnpeTNrbyVGWuHT9bvwfGtJYDteSWKX5VDkKrWq1Dl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/08-ftour-dar-hayat-2019.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                فطور لفائدة مرضي السرطان في دار الحياة
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid02tEv85wZoSc8HZVqMYhf92AENtyXdKocrQ579YshD7QmmVEPTB8uDDSQx7Prjuorjl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/09-hannae-2019.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                حفل حناء لأطفال ذوي ثلاتي الصبغي
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid02UydGyDTPGqssiHuXsbuZYdMv1rhK2RzJ8iYXh7Be1aMvQ811Ntu8mKwaSGmEZz8gl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/10-far7at-eid-2019.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                فرحة العيد للأطفال بمناسبة عيد الفطر
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid02FAu2FFjpU8bwWZRB3yEY8ce1VDztTzEfSjsyBuP6wh5YDxYAMjjVAuwygU97MwCal" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/11-9ofat-tadamun-2019.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                قفة التضامن
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid02x71sbpHLTSi1pn11Lmft8fPpVMxDeaw4X7NbC8RXYGqv13yVDCXezatTiFWdESLcl" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/12-vetements-eid.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                توزيع ملابس العيد على 35 طفل و طفلة بحي البساتين
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/Sonna3Basma/posts/pfbid02mDtdoqJsFJcvyc4pFURPrPR8GBZQbh2oyq9DeGifizcUXJvdoRH3X8tphHiH4RAol" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/13-9uffat-ramdan-2021.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                قفة رمضان
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/p/Cr8-s43Nsih/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/14-far7at-eid-2023.jpg" class="img-responsive gallery-image-item" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name arabic-text">
                                فرحة عيد 2023
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
